NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://teamlovers:R5fRJqHhELGq4r4spomvQZ3f3UzpNXkh@dpg-d7fmgji8qa3s73dloc8g-a/lovers_db
FRONTEND_ORIGIN=https://www.weareteamlovers.com
JWT_SECRET=change-this-super-secret-string
JWT_EXPIRES_IN=7d
ADMIN_COOKIE_NAME=teamlovers_admin
ADMIN_EMAIL=teamlovers@teamlovers.com
ADMIN_PASSWORD=Figfrom20!
GITHUB_USERNAME=weareteamlovers
GITHUB_TOKEN=
GITHUB_CACHE_TTL_MINUTES=30
